//login.jsp
$LOGIN_BG: '/src/main/resources/static/img/login_bg.jpg';
$LOGIN_BOARD_BORDER: '/src/main/resources/static/img/login_board_border.png';
$LOGIN_LOGO_BUS: '/src/main/resources/static/img/login_logo_bus.gif';
$LOGIN_BOARD_BG: '/src/main/resources/static/img/login_board_bg.jpg';