.index{
	position: absolute;
    margin-top: 50px;
    width: 100%;
    height: 650px;
    text-align: center;
    vertical-align: middle;
    background: #DADADA;
    line-height: 650px;
    font-size: 60px;
}