<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/common-960db5b52e.css" type="text/css"/>
    <link href="/css/header-97bc4b2287.css" rel="stylesheet" type="text/css"/>
    <link href="/css/index-d41d8cd98f.css" rel="stylesheet" type="text/css"/>
    
    <title>多媒体信息管理系统</title>
</head>
<body class="layout-fixed">
<div   class="wrapper"  role="navigation">
    <div th:replace="/cp/common/header/header :: header">Header</div>
    <!--<div th:replace="../common/left :: left">left</div>-->
    <!--<div th:replace="../common/sidebar :: sidebar">sidebar</div>-->
    <!--<div layout:fragment="content" id="content" >-->
    <!--<div th:replace="fragments/footer :: footer">footer</div>-->
</div>
<div class="index">多媒体信息管理系统</div>
</body>
</html>