.container,
.container * {
  box-sizing: border-box;
}

.container {
  width: 400px;
  height:100%;
  border: 1px solid #999;
}

.tab-title-items {
  bottom: 0;
  display: table;
  width: 100%;
  height: 50px;
  padding: 0;
  table-layout: fixed;
  border-bottom: 1px solid #999;
}

.tab-title-item {
  display: table-cell;
  width: 1%;
  height: 50px;
  color: #333;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.tab-title-item.active {
  background-color: #333;
  color: #fff;
}

.tab-content-item {
  display: none;
}

.tab-content-item.active {
  display: block;
}
/*
.terminal_group,
.terminal_tag {
  padding: 10px;
  height: 300px;
  width: 400px;
}
*/
/*左侧导航头部*/
.operateMenu li {
  display: inline-block;
  width: 20%;
  height: 30px;
  cursor: pointer;
}

.list li{
  height:25px;
  width: 100%;
  line-height:25px;
  cursor: pointer;
}
.list li:hover{
  background: #DADADA;
}
.list .selected{
  background: #F7F6C1;
}

/*选项卡切换*/
#terminalManage{
  position: absolute;
  top: 50px;
  left: 0;
  bottom: 0;
}
#terminalList{
	position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 400px;
}

.center{
    position: absolute;
    bottom: 20px;
    margin: 0 auto;
    left: 40%;
}
#tab{overflow:hidden;zoom:1;background:#000;border:1px solid #000;}
#tab li{float:left;color:#fff;height:30px;cursor:pointer;line-height:30px;list-style-type:none;padding:0 20px;}
#tab li.current{color:#000;background:#ccc;}
#content{border:1px solid #000;border-top-width:0;}
#content ul{line-height:25px;display:none;margin:0 30px;padding:10px 0;}
#content>ul:first-child{
  display: block;
}


